    <!-- Page Header -->
    <!-- Set your background image for this header on the line below. -->
    <header class="intro-header" style="background-image: url(<%= asset_path @post.bgpost %>)">
        <div class="container">
            <div class="row">
                <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
                    <div class="post-heading">
                        <h1><%= @post.title %></h1>
                        <h2 class="subheading"><%= @post.subtitle %></h2>
                        <span class="meta">Postado por <a href="#"><%= @post.user.name %></a> em <%= @post.created_at %></span>
                    </div>
                </div>
            </div>
        </div>
    </header>

    <!-- Post Content -->
    <article>
        <div class="container">
            <div class="row">
                <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
                    <%= javascript_tag do %>
                        var data = <%= @post.content.to_json.html_safe %>
                        document.write(data)
                    <% end %>
                </div>
            </div>
        </div>
    </article>